# Secret will be used to sign session cookies, CSRF tokens and for other encryption utilities.
# It is highly recommended to change this value before running cerebro in production.
secret = "{{elasticsearch_cerebro_secret}}"

# Application base path
basePath = "/"

# Defaults to RUNNING_PID at the root directory of the app.
# To avoid creating a PID file set this value to /dev/null
pidfile.path = "/var/run/cerebro.pid"

# Rest request history max size per user
rest.history.size = 50 // defaults to 50 if not specified

# Path of local database file
data.path = "./cerebro.db"

hosts = [
  #{
  #  host = "http://some-authenticated-host:9200",
  #  auth = {
  #    username = "username"
  #    password = "secret-password"
  #  }
  #},
{% for hostitem in elasticsearch_cerebro_hosts %}
  {
    host = "{{hostitem.host}}",
    name = "{{hostitem.name}}",

  },
{% endfor %}

]

auth {
//  type: ldap
//    settings: {
//      url = "ldap://host:port"
//      base-dn = "ou=active,ou=Employee"
//      method  = "simple"
//      user-domain = "domain.com"
//    }
//  type: basic
//  settings: {
//    username = "admin"
//    password = "1234"
//  }
}

# Logger
# ~~~~~
# You can also configure logback (http://logback.qos.ch/), by providing a logger.xml file in the conf directory .

# Root logger:
logger.root=ERROR

# Logger used by the framework:
logger.play=INFO

# Logger provided to your application:
logger.application=DEBUG